.botaoTrocaDeTemas {
    background: none;
    border: none;
    font-size: 20px;
    color: var(--text);
    transition: transform 0.6s ease-out, color 0.4s ease-out;
    cursor: pointer;
}

.botaoTrocaDeTemas:hover {
    transform: scale(1.1) translateY(3px);
    color: var(--accent);
}

@media (max-width: 600px) {
    .botaoTrocaDeTemas {
        position: fixed;
        top: 25px;
        right: 78px;
        transition: transform 0.6s ease-out, color 0.4s ease-out;
        cursor: pointer;
    }

    .botaoTrocaDeTemas:hover {
        transform: scale(1.1) translateY(-1px);
        color: var(--text);
    }
}