.menu {
    width: 9%;
    height: 100vh;
    background-color: #171817;
}

.logo img {
    width: 100%;
    height: 250px;
}

.listaNav {
    width: 100%;
    margin-top: 25px;
    text-align: center;
}

.listaMenu {
    display: flex;
    flex-direction: column;
}

.listaMenu li {
    border: 1px solid #30303080;
    padding: 20px;
}

.link {
    text-decoration: none;
    background: none;
    font-size: 22px;
    color: rgba(233, 233, 233, 0.582);
    transition: trasform 0.2s ease;
    display: inline-block;
}
.link:hover {
    transform: scale(1.04);
}

.iconesPerfil {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.iconesPerfil a {
    background: transparent;
    border: none;
    font-size: 20px;
    color: white;
}

.icones1,
.icones2 {
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.icones1:hover,
.icones2:hover {
    transform: scale(1.1) translateY(-2);
    color: rgb(0, 255, 13)
}
.videoLogo {
    width: 100%;
    height: 170px;
    object-fit: cover;
}
